In [93]:
import pandas as pd
import numpy as np

nba_df = pd.read_csv('all_seasons_kg.csv')
nba_df

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,net_orating
0,0,Randy Livingston,HOU,22,193.04,94.800728,Louisiana State,USA,1996,2,...,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,2.600000
1,1,Gaylon Nickerson,WAS,28,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97,1.800000
2,2,George Lynch,VAN,26,203.20,103.418976,North Carolina,USA,1993,1,...,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97,5.533333
3,3,George McCloud,LAL,30,203.20,102.058200,Florida State,USA,1989,1,...,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97,4.900000
4,4,George Zidek,DEN,23,213.36,119.748288,UCLA,USA,1995,1,...,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97,1.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,12839,Joel Embiid,PHI,29,213.36,127.005760,Kansas,Cameroon,2014,1,...,10.2,4.2,8.8,0.057,0.243,0.370,0.655,0.233,2022-23,15.833333
12840,12840,John Butler Jr.,POR,20,213.36,86.182480,Florida State,USA,Undrafted,Undrafted,...,0.9,0.6,-16.1,0.012,0.065,0.102,0.411,0.066,2022-23,1.300000
12841,12841,John Collins,ATL,25,205.74,102.511792,Wake Forest,USA,2017,1,...,6.5,1.2,-0.2,0.035,0.180,0.168,0.593,0.052,2022-23,6.933333
12842,12842,Jericho Sims,NYK,24,208.28,113.398000,Texas,USA,2021,2,...,4.7,0.5,-6.7,0.117,0.175,0.074,0.780,0.044,2022-23,2.866667
12843,12843,JaMychal Green,GSW,33,205.74,102.965384,Alabama,USA,Undrafted,Undrafted,...,3.6,0.9,-8.2,0.087,0.164,0.169,0.650,0.094,2022-23,3.633333

In [94]:
nba_df = nba_df.drop(nba_df.columns[0], axis = 1)
nba_df

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,net_orating
0,Randy Livingston,HOU,22,193.04,94.800728,Louisiana State,USA,1996,2,42,...,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,2.600000
1,Gaylon Nickerson,WAS,28,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,34,...,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97,1.800000
2,George Lynch,VAN,26,203.20,103.418976,North Carolina,USA,1993,1,12,...,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97,5.533333
3,George McCloud,LAL,30,203.20,102.058200,Florida State,USA,1989,1,7,...,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97,4.900000
4,George Zidek,DEN,23,213.36,119.748288,UCLA,USA,1995,1,22,...,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97,1.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,PHI,29,213.36,127.005760,Kansas,Cameroon,2014,1,3,...,10.2,4.2,8.8,0.057,0.243,0.370,0.655,0.233,2022-23,15.833333
12840,John Butler Jr.,POR,20,213.36,86.182480,Florida State,USA,Undrafted,Undrafted,Undrafted,...,0.9,0.6,-16.1,0.012,0.065,0.102,0.411,0.066,2022-23,1.300000
12841,John Collins,ATL,25,205.74,102.511792,Wake Forest,USA,2017,1,19,...,6.5,1.2,-0.2,0.035,0.180,0.168,0.593,0.052,2022-23,6.933333
12842,Jericho Sims,NYK,24,208.28,113.398000,Texas,USA,2021,2,58,...,4.7,0.5,-6.7,0.117,0.175,0.074,0.780,0.044,2022-23,2.866667
12843,JaMychal Green,GSW,33,205.74,102.965384,Alabama,USA,Undrafted,Undrafted,Undrafted,...,3.6,0.9,-8.2,0.087,0.164,0.169,0.650,0.094,2022-23,3.633333

In [95]:
nba_df.head(0)

Empty DataFrame
Columns: [player_name, team_abbreviation, age, player_height, player_weight, college, country, draft_year, draft_round, draft_number, gp, pts, reb, ast, net_rating, oreb_pct, dreb_pct, usg_pct, ts_pct, ast_pct, season, net_orating]
Index: []

[0 rows x 22 columns]

In [96]:
nba_df = nba_df.drop(nba_df.columns[1], axis = 1)
nba_df

,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,net_orating
0,Randy Livingston,22,193.04,94.800728,Louisiana State,USA,1996,2,42,64,...,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,2.600000
1,Gaylon Nickerson,28,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,34,4,...,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97,1.800000
2,George Lynch,26,203.20,103.418976,North Carolina,USA,1993,1,12,41,...,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97,5.533333
3,George McCloud,30,203.20,102.058200,Florida State,USA,1989,1,7,64,...,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97,4.900000
4,George Zidek,23,213.36,119.748288,UCLA,USA,1995,1,22,52,...,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97,1.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,29,213.36,127.005760,Kansas,Cameroon,2014,1,3,66,...,10.2,4.2,8.8,0.057,0.243,0.370,0.655,0.233,2022-23,15.833333
12840,John Butler Jr.,20,213.36,86.182480,Florida State,USA,Undrafted,Undrafted,Undrafted,19,...,0.9,0.6,-16.1,0.012,0.065,0.102,0.411,0.066,2022-23,1.300000
12841,John Collins,25,205.74,102.511792,Wake Forest,USA,2017,1,19,71,...,6.5,1.2,-0.2,0.035,0.180,0.168,0.593,0.052,2022-23,6.933333
12842,Jericho Sims,24,208.28,113.398000,Texas,USA,2021,2,58,52,...,4.7,0.5,-6.7,0.117,0.175,0.074,0.780,0.044,2022-23,2.866667
12843,JaMychal Green,33,205.74,102.965384,Alabama,USA,Undrafted,Undrafted,Undrafted,57,...,3.6,0.9,-8.2,0.087,0.164,0.169,0.650,0.094,2022-23,3.633333

In [97]:
nba_df = nba_df.drop(nba_df.columns[6:9], axis = 1)
nba_df

,player_name,age,player_height,player_weight,college,country,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,net_orating
0,Randy Livingston,22,193.04,94.800728,Louisiana State,USA,64,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,2.600000
1,Gaylon Nickerson,28,190.50,86.182480,Northwestern Oklahoma,USA,4,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97,1.800000
2,George Lynch,26,203.20,103.418976,North Carolina,USA,41,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97,5.533333
3,George McCloud,30,203.20,102.058200,Florida State,USA,64,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97,4.900000
4,George Zidek,23,213.36,119.748288,UCLA,USA,52,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97,1.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,29,213.36,127.005760,Kansas,Cameroon,66,33.1,10.2,4.2,8.8,0.057,0.243,0.370,0.655,0.233,2022-23,15.833333
12840,John Butler Jr.,20,213.36,86.182480,Florida State,USA,19,2.4,0.9,0.6,-16.1,0.012,0.065,0.102,0.411,0.066,2022-23,1.300000
12841,John Collins,25,205.74,102.511792,Wake Forest,USA,71,13.1,6.5,1.2,-0.2,0.035,0.180,0.168,0.593,0.052,2022-23,6.933333
12842,Jericho Sims,24,208.28,113.398000,Texas,USA,52,3.4,4.7,0.5,-6.7,0.117,0.175,0.074,0.780,0.044,2022-23,2.866667
12843,JaMychal Green,33,205.74,102.965384,Alabama,USA,57,6.4,3.6,0.9,-8.2,0.087,0.164,0.169,0.650,0.094,2022-23,3.633333

In [98]:
new_nba_df = nba_df
not_usa = new_nba_df.iloc[:, 5] == 'USA'

new_nba_df = new_nba_df.loc[not_usa]
new_nba_df
#oli jeje

,player_name,age,player_height,player_weight,college,country,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,net_orating
0,Randy Livingston,22,193.04,94.800728,Louisiana State,USA,64,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,2.600000
1,Gaylon Nickerson,28,190.50,86.182480,Northwestern Oklahoma,USA,4,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97,1.800000
2,George Lynch,26,203.20,103.418976,North Carolina,USA,41,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97,5.533333
3,George McCloud,30,203.20,102.058200,Florida State,USA,64,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97,4.900000
4,George Zidek,23,213.36,119.748288,UCLA,USA,52,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97,1.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12838,Joe Wieskamp,23,198.12,92.986360,Iowa,USA,9,1.0,0.4,0.3,1.0,0.000,0.068,0.115,0.321,0.083,2022-23,0.566667
12840,John Butler Jr.,20,213.36,86.182480,Florida State,USA,19,2.4,0.9,0.6,-16.1,0.012,0.065,0.102,0.411,0.066,2022-23,1.300000
12841,John Collins,25,205.74,102.511792,Wake Forest,USA,71,13.1,6.5,1.2,-0.2,0.035,0.180,0.168,0.593,0.052,2022-23,6.933333
12842,Jericho Sims,24,208.28,113.398000,Texas,USA,52,3.4,4.7,0.5,-6.7,0.117,0.175,0.074,0.780,0.044,2022-23,2.866667
12843,JaMychal Green,33,205.74,102.965384,Alabama,USA,57,6.4,3.6,0.9,-8.2,0.087,0.164,0.169,0.650,0.094,2022-23,3.633333

In [99]:
new_nba_df = new_nba_df.drop(new_nba_df.columns[0:7], axis = 1)
new_nba_df

,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,net_orating
0,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,2.600000
1,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97,1.800000
2,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97,5.533333
3,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97,4.900000
4,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97,1.600000
...,...,...,...,...,...,...,...,...,...,...,...
12838,1.0,0.4,0.3,1.0,0.000,0.068,0.115,0.321,0.083,2022-23,0.566667
12840,2.4,0.9,0.6,-16.1,0.012,0.065,0.102,0.411,0.066,2022-23,1.300000
12841,13.1,6.5,1.2,-0.2,0.035,0.180,0.168,0.593,0.052,2022-23,6.933333
12842,3.4,4.7,0.5,-6.7,0.117,0.175,0.074,0.780,0.044,2022-23,2.866667
12843,6.4,3.6,0.9,-8.2,0.087,0.164,0.169,0.650,0.094,2022-23,3.633333

In [100]:
#Transforming season column values into numeric.
dict_season = {}
set_season = list(set(new_nba_df['season']))
for i in range(len(set_season)):
    dict_season[set_season[i]] = i+1

new_nba_df['numerated_season'] = new_nba_df['season'].apply(lambda x: dict_season[x])
new_nba_df['numerated_season']
new_nba_df[['season', 'numerated_season']]

        season  numerated_season
0      1996-97                18
1      1996-97                18
2      1996-97                18
3      1996-97                18
4      1996-97                18
...        ...               ...
12838  2022-23                27
12840  2022-23                27
12841  2022-23                27
12842  2022-23                27
12843  2022-23                27

[10721 rows x 2 columns]

In [101]:
#Ordering seasons
assigned_seasons = set()
def get_season_number(season):
    if season not in assigned_seasons:
        assigned_seasons.add(season)
    return len(assigned_seasons)

new_nba_df['numerated_season'] = new_nba_df['season'].apply(get_season_number)
print(new_nba_df[['season', 'numerated_season']])

        season  numerated_season
0      1996-97                 1
1      1996-97                 1
2      1996-97                 1
3      1996-97                 1
4      1996-97                 1
...        ...               ...
12838  2022-23                27
12840  2022-23                27
12841  2022-23                27
12842  2022-23                27
12843  2022-23                27

[10721 rows x 2 columns]

In [102]:
#Setting the dataframe columns that we are going to use.
new_nba_df = new_nba_df.drop(new_nba_df.columns[-3:-2], axis = 1)
new_nba_df = new_nba_df.drop(new_nba_df.columns[3], axis = 1)
new_nba_df
#The dependent variable is net_orating and the independent ones are the other ones except numerated season.

,pts,reb,ast,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,net_orating,numerated_season
0,3.9,1.5,2.4,0.042,0.071,0.169,0.487,0.248,2.600000,1
1,3.8,1.3,0.3,0.030,0.111,0.174,0.497,0.043,1.800000,1
2,8.3,6.4,1.9,0.106,0.185,0.175,0.512,0.125,5.533333,1
3,10.2,2.8,1.7,0.027,0.111,0.206,0.527,0.125,4.900000,1
4,2.8,1.7,0.3,0.102,0.169,0.195,0.500,0.064,1.600000,1
...,...,...,...,...,...,...,...,...,...,...
12838,1.0,0.4,0.3,0.000,0.068,0.115,0.321,0.083,0.566667,27
12840,2.4,0.9,0.6,0.012,0.065,0.102,0.411,0.066,1.300000,27
12841,13.1,6.5,1.2,0.035,0.180,0.168,0.593,0.052,6.933333,27
12842,3.4,4.7,0.5,0.117,0.175,0.074,0.780,0.044,2.866667,27
12843,6.4,3.6,0.9,0.087,0.164,0.169,0.650,0.094,3.633333,27

In [103]:
#Looking for missing values
missing_values = new_nba_df.isnull().sum()
missing_values
#no missing values detected

pts                 0
reb                 0
ast                 0
oreb_pct            0
dreb_pct            0
usg_pct             0
ts_pct              0
ast_pct             0
net_orating         0
numerated_season    0
dtype: int64

In [104]:
#Counting of max an min of each column to find outliers
print(max(new_nba_df['pts']))
print(min(new_nba_df['pts']))
print(max(new_nba_df['ast']))
print(min(new_nba_df['ast']))
print(max(new_nba_df['reb']))
print(min(new_nba_df['reb']))
print(max(new_nba_df['oreb_pct']))
print(min(new_nba_df['oreb_pct']))
print(max(new_nba_df['dreb_pct']))
print(min(new_nba_df['dreb_pct']))
print(max(new_nba_df['usg_pct']))
print(min(new_nba_df['usg_pct']))
print(max(new_nba_df['ts_pct']))
print(min(new_nba_df['ts_pct']))
print(max(new_nba_df['ast_pct']))
print(min(new_nba_df['ast_pct']))

36.1
0.0
11.7
0.0
16.3
0.0
1.0
0.0
1.0
0.0
1.0
0.0
1.5
0.0
1.0
0.0